
/* ---------- LOGIN-FORM ---------- */
#loginForm {
	background-color: #fff;
	border-radius: 5px;
	margin: 50px auto;
	width: 300px;
}

#loginForm h1 {
	background-color: #282830;
	border-radius: 5px 5px 0px 0px;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

#loginForm fieldset {
	padding: 20px;
}

#loginForm fieldset input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	outline: none;
}

#loginForm fieldset input[type="text"] {
	border: 1px solid #dcdcdc;
	border-radius: 3px 3px 0px 0px;
	padding: 12px 10px;
	width: 100%;
	outline: none;
}

#loginForm fieldset input[type="password"] {
	border: 1px solid #dcdcdc;
	border-top: none;
	border-radius: 0px 0px 3px 3px;
	padding: 12px 10px;
	width: 100%;
	outline: none;
}

#loginForm fieldset #login {
	background-color: #1dabb8;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	float: right;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
}

#loginForm fieldset span {
	font-size: 12px;
	float: left;
	margin-top: 32px;
	cursor: pointer;
}

#loginForm fieldset span a{
	color: #999999;
	text-decoration: none;	
}

#loginForm fieldset span a:hover {
	color: #1dabb8;
}