/* Search Styles */

body{
  background-color: rgba(157, 157, 157, 0.54);
}

.search {
  background: #282830;
  color: #ffffff;
  width: 90%;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px 30px;
  z-index: 20;
}

.search h1 {
  color: #EEE8D5;
}

.search input {
  font-family: 'Droid Sans', sans-serif;
  width: 80%;
  padding: 10px 0 10px 15px;
  font-size: 1em;
  color: #211f1f;
  background: #ffffff;
}

table.emptable {
  width: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size:14px;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}
table.emptable th {
  background-color:#1aa3a3;
  text-align: center;
  border-width: 1px;
  padding: 8px;
  color: #ffffff;
  border-style: solid;
  border-color: #999999;
}
table.emptable th a {
  color: #ffffff;
}
table.emptable td {
  background-color:#ffffff;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}


