<!--This is welcome page of the application-->
<!--This is for displaying button in top right corner for navigating between templates-->
<a href="#/login" class="btn btn-info btn-sm pull-right navLinks">
    <span class="glyphicon glyphicon-pencil"></span> Manage Employees
</a>
<!--This section is for displaying set of search fields for user to search any employee-->
<section id="searchForm">
    <h1>Employee Directory</h1>
    <fieldset>
        <input ng-model="queryName" placeholder="Name" autofocus>
        <input ng-model="queryTitle" placeholder="Job Title">
        <input ng-model="queryLocation" placeholder="Location">
        <input ng-model="queryEmail" placeholder="Email">
        <input ng-model="queryNumber" placeholder="Phone Number" type="number">
    </fieldset>
</section>
<!--This is for displaying results in a table. Sorting is implemented on all fields of table.
I used AngularJS expressions for binding the data to table columns-->
<table id="empTable" class="emptable" ng-show="queryName || queryNumber || queryTitle || queryLocation || queryEmail">
    <thead>
    <tr>
        <th width="20%"><a href="" ng-click="predicate = 'name'; reverse = !reverse">Name</a></th>
        <th width="20%"><a href="" ng-click="predicate = 'title'; reverse = !reverse">Job Title</a></th>
        <th width="20%"><a href="" ng-click="predicate = 'location'; reverse = !reverse">Location</a></th>
        <th width="20%"><a href="" ng-click="predicate = 'email'; reverse = !reverse">Email</a></th>
        <th width="20%"><a href="" ng-click="predicate = 'phone'; reverse = !reverse">Phone Number</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="employee in employees | filter: {name: queryName,
                        phone: queryNumber, title: queryTitle, location: queryLocation, email: queryEmail} |
                        orderBy:predicate:reverse">
        <td width="20%">{{employee.name}}</td>
        <td width="20%">{{employee.title}}</td>
        <td width="20%">{{employee.location}}</td>
        <td width="20%">{{employee.email}}</td>
        <td width="20%">{{employee.phone}}</td>
    </tr>
    </tbody>
</table>